extends layout

block header

block content
	h2 About 
		span(style="color:#028aa8") MISSING & FOUND
	.bg-light.p-4
		p
			|The Missing & Found project is a culmination of our efforts as a team of three Computer Science Engineering students  
			|and thanks to the guidance of our project guide 
			a(href='http://erp.dbuniversity.ac.in/emplist/viewprofile.php?id=27#about' target='_blank' style='color:blue') Dr.Gypsy Nandi Mam 
			| from 
			a(href='https://www.dbuniversity.ac.in/' target='_blank' style='color:blue')  Assam Don Bosco University.
			|  As part of our 6th-semester minor project, we have embarked on a mission to create a solution that aids in locating missing loved ones and pets. Our project aims to harness the power of technology to address the distressing situations that arise when someone dear to us or a beloved pet goes missing.
		h2(style="color:#028aa8")  Problem Statement
		p
			|The Issue of missing loved ones and pets is serious, with thousands of people and animals going 
			|missing each year. Searching for missing loved ones and pets can be time-consuming and overwhelming,
			| as information is frequently dispersed across multiple websites, social media platforms, and local
			| authorities. This makes it difficult for people to keep track of all the different avenues through 
			|which they must search and report, increasing the likelihood of missing critical information.
			| Furthermore, many people may be confused and frustrated because they do not know where to begin
			| their search or how to report a missing person or pet. Missing and found seeks to address these 
			|concerns by providing a centralised platform for reporting and searching for missing people and pets.
		h2(style="color:#028aa8")  Proposed Solution
		p
			|To overcome these drawback,we are developing Proposed Sysytem as "MISSING & FOUND" 
			|We developed this web application using Node.js and Express.js to perform the server task and 
			|used MongoDb as a Database to store and retrieve data and the proposed sysytem will have the following 
			|features: 
		ul
			li Display Information about missing person and pets.
			li Adding new complaint.
			li Inform the user who posted through email if you found.
			li Display information of person found
			li Post and View Articles.
		p

		h6.bg-info(style="font-family:san-serif;font-size:20px; font-family: 'Roboto Condensed', sans-serif;").text-light.text-center.pt-4
			| Developed By :
			br
			br
			a(href='#' target='_blank' style='color:#0E0B16') Hrishikesh Kalita
			br
			a(href='#' target='_blank' style='color:#0E0B16') Kabir Ahmed 
			br
			a(href='#' target='_blank' style='color:#0E0B16') Aman Kumar Thapa
			br
			br

		hr
