extends adminpagelayout

block content
    br
    br
    br
    h1(style="max-width:720px;margin:0 auto;border-radius:12px ;color:red") ADMIN LOGIN
    .bg-light.p-4(style="max-width:720px;margin:0 auto;border-radius:12px")
        form(method='POST' action='/admin/home')
            #form-group
                label Username:
                input.form-control(name="username" type='text')
            #form-group
                label Password:
                input.form-control(name="password" type='password')
            br
            input.btn.btn-primary(type='submit' value='Login')
        br
        br
        h6(style="background:#E7DFDD; color:black;display:inline" class="p-2") Back to 
            a(href="/users/login" style="color: blue;") USER LOGIN PAGE 