extends admin

block header

block content
    .flex-container
        h1(style="color:red;font-weight:bold") #{title}
        h1
            a(href="/admin/manage-article" class="manage-article-link") Manage Article

    .bg-light.p-4
        form(method='POST' action='/admin/addarticle' enctype="multipart/form-data")
            #form-group
                label Title:
                input.form-control(name="title" type='text')
            #form-group
                label Body:
                textarea.form-control(name="body" rows="10")
            .form-group
                label Image
                input#input-files.form-control-file.border(type='file' name='file')
            .row
                .col-sm-12
                    .preview-images
                        img#Profile_Image
            br
            input.btn.btn-primary(type='submit' value='Submit')
