extends unregistered_layout

block content
	h1 Login
	.f-container.p-4
		form(method='POST', action='/users/login')
			#form-group
				label Username:
				input.form-control(name="username", type='text')
			#form-group
				label Password:
				input.form-control(name="password", type='password')
			br
			input.btn.btn-primary(type='submit',value='Login')
		br
		br
		h6(style="background:#E7DFDD; color:black;display:inline" class="p-2") New to MISSING & FOUND? 
			a(href="/users/register", style="color: blue;") Create an account. 